*{
    margin: 0;padding: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: #40514E;
}
.top{
    background-color: #e4f9f5;
    
    position: relative;   
    padding-top: 100px;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
      
    margin: 50px auto 0 auto;
    color: #66BFBF;
}
.skill-row{
   margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2  ;
}
.computer{
    margin-right: 30px;
    width: 25%;
    float: left;
}
.chillies{
    width: 25%;
    float: right;
    margin-left: 30px;
}
hr{
    border: #EAF6F6 dotted 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}
p{
    color: #40514E;
    line-height: 2;
}
h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
     
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    
}
.mountain{
    height: 440px;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px auto;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .bottom-container{
      background-color: #66BFBF;
      padding: 50px 0 20px;
  }
  a{
      color: #11999E;
      font-family: 'Montserrat', sans-serif;
      margin: 10px 20px;
      text-decoration: none;
  }
  a:hover{
      color: #eaf6f6;

  }
  .copyright{
      color: #EAF6F6;
      font-size: 0.75rem;
      padding: 20px 10px;
  }
.web{
    
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 350px;
}
.top-cloud{
    position: absolute;
   right: 300px;
   top: 50px;

}

h3{
    color: #11999E;
}
.footer-link{
    color: #11999E;
}
.middle-container{
    margin: 100px 0 100px 0;
}
.intro{
    width: 30%;
    margin: auto;
    
}